.overlay{
    width : 100vw;
    height:100vh;
    position:fixed;
    background-color: #000000aa;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleY(0);
    transition: 0.3s;
}
.container-cart{
    width: 100%;
    margin: auto;
}
.only-x{
    width: 100px;
    height :100px;
    position: fixed;
    right: 0px;
}
.only-x>.icon{
    background-color: #ffffff00;
}
.container-cart table{
	border:1px solid black;
	border-collapse:seperate;
}
.container-cart td,.container-cart th{
	padding:5px 20px;
	text-align:center;
	font-family:"Poppins", Sans-serif;
	text-transform:capitalize;
}
.container-cart thead{
	border-bottom:1px solid black;
}