*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.wrapper{
    max-width: 1920px;
    margin:auto;
}
.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}