*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color:aliceblue;
}
.wrapper{
    max-width: 1920px;
    margin:auto;
}
.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.col-center{
	justify-content:center;
}
.cross{
	width:50px;
}